body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.splash-page {
  display: table;
  width: 100%;
  height: 100%;
  min-height: 100%;
}

.splash-image {
  height: 460px;
}

.splash-name-title {
  font-size: 3em;
  font-weight: bold;
  color: #6f6f6f;
  margin: 18px;
}

.splash-tagline {
  font-size: 2em;
  font-style: oblique;
  color: #6f6f6f;
  margin: 18px;
}

.site-wrapper {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  text-shadow: 0 0.05rem 0.1rem rgba(0,0,0,.5);
}
